<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body class="{{ bodyClass }}" >
    <header>
      <div class="container">
        <h1>netlify</h1>
      </div>
    </header>
    <main>
      <div class="container">
        {{ content | safe }}
      </div>
    </main>
  </body>
</html>



